body{
    margin: 0;
    padding: 0;
    /* background-color:#293762; */
    background-color: #111;
    /* background-color: rgb(236, 236, 236); */
    font-family: san-serif;
  
   
}

.images h1{
    font-size: 44px;
    text-align: center;
    color:#293762 ;
    color:#e4d0e7;
    

}

img{
    width:300px;
    height:250px
}


.items{
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
 
    align-items: center;
    gap: 30px;

    margin-bottom: 200px;
  
}


.item{
    width: 320px;
    margin: 0 auto;
    padding: 10px;
     background-color:rgba(255,255,255,0.1);
  
margin-bottom: 20px;
    
   
    
}

.item h3{
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    color:#293762 ;
    color:#e4d0e7;
    color: #fff;
    
}

.item p{
    font-size: 15px;
    text-align: left;
    margin-top: 32px;
    color:#293762 ;
    color:#e4d0e7;
    /* color: #fff; */
  
}

.item img{
    width: 320px;
    /* height: 270px; */
    /* border-radius: 5%; */
    margin: 0 auto;
  
    
    
}

